body {
  background-color: white;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100vw;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.btn {
  background-color: #e5b6d5;
  color: #ffffff;
  border-top: 9px solid #b2479a;
  border-bottom: 9px solid #b2479a;
  border-left: 9px solid #cc7fb5;
  border-right: 9px solid #cc7fb5;
  font-size: 30px;
  letter-spacing: 2px;
  height: 100px;
  width: 250px;
  margin: 30px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #b2479a;
  border-top: 9px solid #cc7fb5;
  border-bottom: 9px solid #cc7fb5;
  border-left: 9px solid #e5b6d5;
  border-right: 9px solid #e5b6d5;
}

button:focus {
  outline: none;
}

.switch-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 20px;
}

.switch-button {
  border-radius: 10%;
  background-color: #f1c40f;
  border: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

.switch-button:hover {
  background-color: #f39c12;
}

/*Cool Styles*/
.cool {
  border-radius: 100%;
  border: none;
  background-color: #c0392b;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  height: 150px;
  width: 150px;
  margin-right: 30px;
}

.cool:hover {
  transition: all;
  transition-duration: 0.5s;
  background-color: #e74c3c;
  color: white;
  border: white;
}

/*Responsive Styles*/

@-ms-viewport{
  width: device-width;
}

@media screen and (max-width: 620px) {
  .buttons-container {
    flex-direction: column;
  }
  .reset-button {
    height: 60px;
    font-size: 25px;
  }
}
